.notificiacion{
  width: 300px;
  height: 50px;
  border-radius: 10px;
}

.notificiacion{
  line-height: 3em;
}

.notificiacion img{

  display: inline-block;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 4%;
}

.notificiacion p{
  
}